@font-face {
    font-family: 'sinkin_sans100_thin_italic';
    src: url('/assets/fonts/sinkinsans-100thinitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/sinkinsans-100thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}